<div class="col w-100 h-100">
    <div class="row pb-4">
        <h3 class="fs-4 text-start">{{post.title}}</h3>
    </div>
    <div class="row" id="post-img">
        <p-image src={{post.multimedia}} alt="Post Image" [preview]="true" [style]="{'width': '100%'}" width="100%"></p-image>
    </div>
    <div class="row fs-4 mt-4">
        <button type="button" class="btn btn-white col-9 d-flex text-dark align-items-center justify-content-start" (click)="openUserInfo(user)">
            <i class="bi bi-person-circle"></i>
            <h5 class="mt-2 ms-2 text-start"><span id="userName" class="fw-light">{{post.user.userName}}/</span>{{post.user.fullName}}</h5>
        </button>
        <div class="col-3 d-flex align-items-center justify-content-end">
            <div *ngIf="post.votes > 0; else negativeVotes">
                <p class="fs-6 mt-3 me-2 text-success">+{{post.votes}}</p>
            </div>
            <ng-template #negativeVotes>
                <p class="fs-6 mt-3 me-2 text-danger">{{post.votes}}</p>
            </ng-template>
            <div class="btn-group" role="group" aria-label="Votes button group">
                <input type="radio" class="btn-check" name="voteBtn" id="upVoteBtn" autocomplete="off">
                <label #upVoteBtn class="btn btn-white btn-outline-none fs-5" for="upVoteBtn" (click)="upVote(upVoteBtn, downVoteBtn)"><i class="bi bi-chevron-up"></i></label>
                <input type="radio" class="btn-check" name="voteBtn" id="downVoteBtn" autocomplete="off">
                <label #downVoteBtn class="btn btn-white btn-outline-none fs-5" for="downVoteBtn" (click)="downVote(upVoteBtn, downVoteBtn)"><i class="bi bi-chevron-down"></i></label>
            </div>
            <button type="button" class="btn btn-white fs-5" (click)="openComments(comments)"><i class="bi bi-chat"></i></button>
        </div>
    </div>
    <h5 class="fs-6 fw-normal">{{post.date}}</h5>
    <div id="tags" class="row">
        <div class="mt-2">
            <button *ngFor="let tag of post.tags" type="button" class="btn btn-dark me-2">#{{tag}}</button>
        </div>
    </div>
    <div class="row mt-4">
        <p class="fs-5">{{post.content}}</p>
    </div>
</div>
<ng-template #comments let-c="close" let-d="dismiss">
	<div class="modal-header border-0 ps-5 pe-5 pt-5">
		<h4 class="modal-title fs-4" id="modal-basic-title">Comentarios</h4>
		<a class="btn btn-close" aria-label="Close" (click)="d('Cross click')"></a>
	</div>
	<div class="modal-body ps-5 pe-5 mb-4">
        <div class="mb-4">
            <h4 class="fs-5">Contenido</h4>
            <input #postContent type="text" class="form-control-plaintext border-0 border-bottom ps-0" placeholder="Escribe un comentario">
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-dark fs-6 mt-3">Comentar</button>
            </div>
        </div>
        <div *ngFor="let comment of post.comments" class="mb-1">
            <div class="row">
                <div class="col-9 d-flex justify-content-start align-items-center">
                    <h4 class="fs-5">{{comment.userName}}</h4>
                    <p class="fs-6 fw-normal ps-2 mt-2">{{comment.date}}</p>
                </div>
                <div class="col-3 d-flex align-items-center justify-content-end">
                    <div *ngIf="comment.votes > 0; else negativeVotes">
                        <p class="fs-6 mt-3 me-2 text-success">+{{comment.votes}}</p>
                    </div>
                    <ng-template #negativeVotes>
                        <p class="fs-6 mt-3 me-2 text-danger">{{comment.votes}}</p>
                    </ng-template>
                    <div class="btn-group" role="group" aria-label="Votes button group">
                        <input type="radio" class="btn-check" name="voteBtn" id="upVoteBtn" autocomplete="off">
                        <label #upVoteBtn class="btn btn-white btn-outline-none fs-5" for="upVoteBtn" (click)="upVote(upVoteBtn, downVoteBtn)"><i class="bi bi-chevron-up"></i></label>
                        <input type="radio" class="btn-check" name="voteBtn" id="downVoteBtn" autocomplete="off">
                        <label #downVoteBtn class="btn btn-white btn-outline-none fs-5" for="downVoteBtn" (click)="downVote(upVoteBtn, downVoteBtn)"><i class="bi bi-chevron-down"></i></label>
                    </div>
                </div>
            </div>
            <p class="fs-5">{{comment.content}}</p>
            <div class="d-flex">
                <div class="vr ms-3 me-4"></div>
                <div class="flex-fill">
                    <div *ngFor="let subComment of comment.comments">
                        <div class="row">
                            <div class="col-9 d-flex justify-content-start align-items-center">
                                <h4 class="fs-5">{{subComment.userName}}</h4>
                                <p class="fs-6 fw-normal ps-2 mt-2">{{subComment.date}}</p>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-end">
                                <div *ngIf="subComment.votes > 0; else negativeVotes">
                                    <p class="fs-6 mt-3 me-2 text-success">+{{subComment.votes}}</p>
                                </div>
                                <ng-template #negativeVotes>
                                    <p class="fs-6 mt-3 me-2 text-danger">{{subComment.votes}}</p>
                                </ng-template>
                                <div class="btn-group" role="group" aria-label="Votes button group">
                                    <input type="radio" class="btn-check" name="voteBtn" id="upVoteBtn" autocomplete="off">
                                    <label #upVoteBtn class="btn btn-white btn-outline-none fs-5" for="upVoteBtn" (click)="upVote(upVoteBtn, downVoteBtn)"><i class="bi bi-chevron-up"></i></label>
                                    <input type="radio" class="btn-check" name="voteBtn" id="downVoteBtn" autocomplete="off">
                                    <label #downVoteBtn class="btn btn-white btn-outline-none fs-5" for="downVoteBtn" (click)="downVote(upVoteBtn, downVoteBtn)"><i class="bi bi-chevron-down"></i></label>
                                </div>
                            </div>
                        </div>
                        <p class="fs-5">{{subComment.content}}</p>
                    </div>
                    <div>
                        <input #postContent type="text" class="form-control-plaintext border-0 border-bottom ps-0" placeholder="Escribe un comentario">
                        <div class="d-flex align-items-center justify-content-end">
                            <button type="button" class="btn btn-dark fs-6 mt-3">Comentar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</ng-template>
<ng-template #user let-c="close" let-d="dismiss">
	<div class="modal-header border-0 ps-5 pe-5 pt-5">
		<h4 class="modal-title fs-4" id="modal-basic-title">Acerca de</h4>
		<a class="btn btn-close" aria-label="Close" (click)="d('Cross click')"></a>
	</div>
	<div class="modal-body ps-5 pe-5 mb-4">
        <h4 class="fs-5 mb-3" style="color: #5E2FBB;">{{userInfo.userName}}</h4>
        <div class="mb-4">
            <h4 class="fs-5">Nombre</h4>
            <p class="fs-5">{{userInfo.fullName}}</p>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Cumpleaños</h4>
            <p class="fs-5">{{userInfo.birthDate}}</p>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Genero</h4>
            <p class="fs-5">{{userInfo.gender}}</p>
        </div>
        <div class="pt-4 border-top fs-5">
            <p>{{userInfo.description}}</p>
        </div>
	</div>
</ng-template>