<div class="d-flex justify-content-between align-items-center p-3">
    <a href="posts" style="color: black;"><img alt="Uacha Logo" src="assets/images/uacha.png" height="30px"/></a>
    <button type="button" class="btn btn-white" (click)="openUserInfo(user)"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></button>
</div>
<nav class="navbar navbar-expand-lg bg-white p-3 border-top border-bottom">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav gap-5 btn-group">
            <li class="nav-item">
                <a class="nav-link fs-5" style="color: #878787;">Categorias</a>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" href="#">Facultades</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Ingeniería</a></li>
                        <li><a class="dropdown-item" href="#">Derecho</a></li>
                        <li><a class="dropdown-item" href="#">Quimicas</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Admisión</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Inscripciones</a></li>
                        <li><a class="dropdown-item" href="#">Becas</a></li>
                        <li><a class="dropdown-item" href="#">Convocatorias</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Prácticas</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Asociados</a></li>
                        <li><a class="dropdown-item" href="#">Laboratorios</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Servicio Social</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Brigadas</a></li>
                        <li><a class="dropdown-item" href="#">Afiliados</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Karnet</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Eventos Deportivos</a></li>
                        <li><a class="dropdown-item" href="#">Eventos Culturales</a></li>
                        <li><a class="dropdown-item" href="#">Eventos Científicos</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<ng-template #user let-c="close" let-d="dismiss">
	<div class="modal-header border-0 ps-5 pe-5 pt-5">
		<h4 class="modal-title fs-4" id="modal-basic-title">Acerca de</h4>
		<a class="btn btn-close" aria-label="Close" (click)="d('Cross click')"></a>
	</div>
	<div class="modal-body ps-5 pe-5 mb-4">
        <h4 class="fs-5 mb-3" style="color: #5E2FBB;">marioteran56</h4>
        <div class="mb-4">
            <h4 class="fs-5">Nombre</h4>
            <p class="fs-5">Mario Alberto Terán Acosta</p>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Cumpleaños</h4>
            <p class="fs-5">29 Agosto, 2001</p>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Genero</h4>
            <p class="fs-5">Masculino</p>
        </div>
        <div class="pt-4 border-top fs-5">
            <p>Alumno de ciencias de la computación... Graduenme porfavor</p>
        </div>
	</div>
</ng-template>