<div class="d-flex justify-content-between align-items-center p-3">
    <a href="posts" style="color: black;"><img alt="Uacha Logo" src="assets/images/uacha.png" height="30px"/></a>
    <button type="button" class="btn btn-white" (click)="openUserInfo(user)"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></button>
</div>
<nav class="navbar navbar-expand-lg bg-white p-3 border-top border-bottom">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav gap-5 btn-group w-100">
            <li class="nav-item">
                <a class="nav-link fs-5" style="color: #878787;">Categorias</a>
            </li>
            <li *ngIf="categories.length == 0; else showCategories" class="placeholder-wave d-flex align-items-center w-100 gap-5">
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
                <span class="placeholder col-1"></span>
            </li>
            <ng-template #showCategories>
                <li *ngFor="let category of categories">
                    <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <a class="nav-link fs-5">{{category.title}}</a>
                        <ul class="dropdown-menu shadow-sm">
                            <li *ngFor="let topic of category.topics"><a class="dropdown-item" routerLink="/posts" ariaCurrentWhenActive="page">{{category.topics}}</a></li>
                        </ul>
                    </div>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>
<ng-template #user let-c="close" let-d="dismiss">
	<div class="modal-header border-0 ps-5 pe-5 pt-5">
		<h4 class="modal-title fs-4" id="modal-basic-title">Acerca de</h4>
		<a class="btn btn-close" aria-label="Close" (click)="d('Cross click')"></a>
	</div>
	<div class="modal-body ps-5 pe-5 mb-4">
        <h4 class="fs-5 mb-3" style="color: #5E2FBB;">{{userInfo.userName}}</h4>
        <div class="mb-4">
            <h4 class="fs-5">Nombre</h4>
            <p class="fs-5">{{userInfo.fullName}}</p>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Cumpleaños</h4>
            <p class="fs-5">{{userInfo.birthDate}}</p>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Genero</h4>
            <p class="fs-5">{{userInfo.gender}}</p>
        </div>
        <div class="pt-4 border-top fs-5">
            <p>{{userInfo.description}}</p>
        </div>
        <button type="button" class="btn btn-outline-dark text-white" style="background-color: #5E2FBB;" (click)="d('Cross click'); editUserInfo(editUser)">Editar</button>
	</div>
</ng-template>
<ng-template #editUser let-c="close" let-d="dismiss">
	<div class="modal-header border-0 ps-5 pe-5 pt-5">
		<h4 class="modal-title fs-4" id="modal-basic-title">Editar usuario</h4>
		<a class="btn btn-close" aria-label="Close" (click)="d('Cross click')"></a>
	</div>
	<div class="modal-body ps-5 pe-5 mb-4">
        <div class="mb-4">
            <h4 class="fs-5">Nombre completo</h4>
            <input [(ngModel)]="fullName" type="text" class="form-control-plaintext border-0 border-bottom ps-0" placeholder="Escriba su nombre completo">
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Genero</h4>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn text-start ps-0 pe-0 border-bottom rounded-0" id="dropdownBasic1" style="color: #7a7a7a;" ngbDropdownToggle>
                {{gender}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="changeGender('Masculino')">Masculino</button>
                    <button ngbDropdownItem (click)="changeGender('Femenino')">Femenino</button>
                    <button ngbDropdownItem (click)="changeGender('Otro')">Otro</button>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Fecha de cumpleaños</h4>
            <form class="row row-cols-sm-auto">
                <div class="col-12">
                    <div class="input-group">
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            [(ngModel)]="birthDate"
                            ngbDatepicker
                            #d="ngbDatepicker"
                        />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Acerca de ti</h4>
            <input [(ngModel)]="description" type="text" class="form-control-plaintext border-0 border-bottom ps-0" placeholder="Escriba acerca de usted">
        </div>
        <button type="button" class="btn btn-outline-dark text-white" style="background-color: #5E2FBB;" (click)="modifyUser(); d('Cross click')">Registrarse</button>
	</div>
</ng-template>