<div class="d-flex justify-content-between align-items-center p-3">
    <img alt="Uacha Logo" src="assets/images/uacha.png" height="30px"/>
    <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
</div>
<nav class="navbar navbar-expand-lg bg-white p-3 border-top border-bottom">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav gap-5 btn-group">
            <li class="nav-item">
                <a class="nav-link fs-5" style="color: #878787;">Categorias</a>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" href="#">Facultades</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Ingeniería</a></li>
                        <li><a class="dropdown-item" href="#">Derecho</a></li>
                        <li><a class="dropdown-item" href="#">Quimicas</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Admisión</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Inscripciones</a></li>
                        <li><a class="dropdown-item" href="#">Becas</a></li>
                        <li><a class="dropdown-item" href="#">Convocatorias</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Prácticas</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Asociados</a></li>
                        <li><a class="dropdown-item" href="#">Laboratorios</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Servicio Social</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Brigadas</a></li>
                        <li><a class="dropdown-item" href="#">Afiliados</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-link fs-5" aria-current="page" href="#">Karnet</a>
                    <ul class="dropdown-menu shadow-sm">
                        <li><a class="dropdown-item" href="#">Eventos Deportivos</a></li>
                        <li><a class="dropdown-item" href="#">Eventos Culturales</a></li>
                        <li><a class="dropdown-item" href="#">Eventos Científicos</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>