<div class="col border-start pt-1 pb-1 ps-5 pe-5 h-100 w-100">
    <div class="row-6 text-start align-items-center">
        <h4 class="fs-5">Etiquetas Populares</h4>
        <p id="tags" class="lh-lg pb-3" style="color: #3F3F3F;">
            <a href="#">#becas </a>
            <a href="#" style="color: #5E2FBB;">#alumnos </a>
            <a href="#">#eventos </a>
            <a href="#">#karnet </a>
            <a href="#">#laboratorios </a>
            <a href="#">#estacionamiento </a>
            <a href="#" style="color: #5E2FBB;">#ingeniería </a>
            <a href="#" href="#">#semanadeingeniería </a>
            <a href="#">#derecho </a>
            <a href="#">#conta </a>
            <a href="#">#solicitudes </a>
        </p>
    </div>
    <hr/>
    <div class="row-6 text-start align-items-center">
        <h4 class="fs-5">Tendencias</h4>
        <div class="pb-3">
            <p class="fs-6" style="color: #3F3F3F;">#becas</p>
            <ngb-progressbar type="danger" [value]="25" height="10px"></ngb-progressbar>  
        </div>
        <div class="pb-3">
            <p class="fs-6" style="color: #3F3F3F;">#alumnos</p>
            <ngb-progressbar type="info" [value]="75" height="10px"></ngb-progressbar>
        </div>
        <div class="pb-3">
            <p class="fs-6" style="color: #3F3F3F;">#eventos</p>
            <ngb-progressbar type="success" [value]="50" height="10px"></ngb-progressbar>
        </div>
    </div>
    <button classtype="button" class="btn btn-outline-dark mt-4">Mis Publicaciones</button>
</div>
