<div class="w-100 h-100">
    <div class="row pb-4">
        <div class="col-10">
            <h3 class="fs-4 text-start">Mis Publicaciones</h3>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="d-flex align-items-top justify-content-end">
                <button type="button" class="btn btn-outline-dark fs-6 mb-2">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" class="btn btn-outline-dark fs-6 ms-2 mb-2">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
            <div class="card h-100 border-bottom">
                <div class="card-img">
                    <img src="assets/images/becas.jpeg" class="card-img-top" alt="Post Image"/>
                </div>
                <div class="card-body pt-4">
                  <h5 class="card-title">Beca Extraordinaria</h5>
                  <p class="card-text pb-3">Publica UACH convocatoria para Becas extraordinarias Covid-19 Conoce más en facebook.</p>
                  <div class="card-footer pb-4">
                    <small class="fw-semibold text-start">#becas #alumnos #eventos</small>
                  </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex align-items-top justify-content-end">
                <button type="button" class="btn btn-outline-dark fs-6 mb-2">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" class="btn btn-outline-dark fs-6 ms-2 mb-2">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
            <div class="card h-100 border-bottom">
                <div class="card-img">
                    <img src="assets/images/becas.jpeg" class="card-img-top" alt="Post Image"/>
                </div>
                <div class="card-body pt-4">
                  <h5 class="card-title">Beca Extraordinaria</h5>
                  <p class="card-text pb-3">Publica UACH convocatoria para Becas extraordinarias Covid-19 Conoce más en facebook.</p>
                  <div class="card-footer pb-4">
                    <small class="fw-semibold text-start">#becas #alumnos #eventos</small>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header border-0 ps-5 pe-5">
		<h4 class="modal-title fs-4" id="modal-basic-title">Nueva Publicación</h4>
		<a class="btn btn-close" aria-label="Close" (click)="onUploadClose(); d('Cross click')"></a>
	</div>
	<div class="modal-body ps-5 pe-5">
        <div class="modal-img rounded">
            <div *ngIf="uploaded; else fileUpload">
                <p-image src={{imageUrl}} alt="Post Image" [preview]="true"></p-image>
            </div>
            <ng-template #fileUpload>
                <p-fileUpload mode="basic" name="myfile[]" [customUpload]="true" (uploadHandler)="imageUpload($event)" chooseLabel="Agregar imagen" [style]="{'background-color': 'black'}"></p-fileUpload>
            </ng-template>
        </div>
		<div class="mt-4 mb-4">
            <h4 class="fs-5">Titulo</h4>
            <input type="text" class="form-control-plaintext border-0 border-bottom ps-0" placeholder="Escriba un título">
        </div>
        <div class="mb-4">
            <h4 class="fs-5">Contenido</h4>
            <input type="text" class="form-control-plaintext border-0 border-bottom ps-0" placeholder="Escriba el contenido de la publicación">
        </div>
        <div>
            <h4 class="fs-5">Tags</h4>
            <div class="d-flex align-items-center justify-content-start mb-3">
                <div class="input-group" style="width: 150px;">
                    <button class="btn fs-6 btn-dark fw-bold text-white" id="add-tag-btn" type="button" (click)="addTag(tagInput);">+</button>
                    <input #tagInput type="text" class="form-control" placeholder="Ej. becas" aria-describedby="add-tag-btn">
                </div>
                <div id="tags" *ngFor="let tag of tags">
                    <button type="button" class="btn btn-dark ms-1" (click)="deleteTag(tag)">#{{tag}}</button>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer border-0 ps-5 pe-5">
        <button type="button" class="btn btn-dark fs-6" (click)="c('Save click')">Publicar</button>
	</div>
</ng-template>